@model DataBaseBackend.User

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <button class="btn btn-dark btn-sm d-inline-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-arrow-down d-flex justify-content-center"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex justify-content-center">
                تغییر اطلاعات کاربر @Model.id
            </div>
        </div>
    </div>
</nav>
<form asp-action="Edit">
    <div class="form-row" id="createform">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input hidden asp-for="id" />
        <input hidden asp-for="activecode" />
        <input hidden asp-for="lastlogin" />
        <div class="form-group col-md-3">
            <label class="control-label col-md-12" style="font-weight: bold;text-align:center;">نقش</label>
            <select asp-for="roleid" class="form-control" asp-items="ViewBag.roleid"></select>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="email"></label>
            <input class="form-control" id="email" asp-for="email" />
            <span class="text-danger" asp-validation-for="email"></span>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="username"></label>
            <input class="form-control" id="username" asp-for="username" />
            <span class="text-danger" asp-validation-for="username"></span>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="password"></label>
            <input class="form-control" id="username" asp-for="password" />
            <span class="text-danger" asp-validation-for="password"></span>
        </div>
        <div class="form-group form-check col-md-3">
            <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="isactive"></label>
            <input class="form-check-input" type="checkbox" asp-for="isactive" />
            @*<label class="form-check-label">
                <input class="form-check-input" asp-for="isactive" /> @Html.DisplayNameFor(model => model.isactive)
            </label>*@
        </div>
    </div>
    <input type="submit" value="ثبت کاربر" class="btn btn-success btn-lg" /> |
    <a class="btn btn-dark " asp-action="Index">بازگشت</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
