@model Login
@section css{ 
    <link href="~/css/user-panel-change-pass-style.css" rel="stylesheet" />
} 

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <div>
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                @*<a href="#" class="text-decoration-none" style="color: #292929;">
                        <div class="profile-holder">
                            <img src="pictures/81-ShGBC4yL.jpg"
                                 style="width: 50px; height: 50px; border-radius: 50px; border: 1px solid black;">
                        </div>
                    </a>*@
                <div class="info">
                    @if (User.HasClaim(w => w.Type == "name"))
                    {
                        <a href="#" class="d-block">@User.Claims.FirstOrDefault(w => w.Type == "name").Value</a>
                    }
                    else
                    {
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    }

                    @*<span class="badge badge-danger navbar-badge">3</span>*@
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2" style="text-align:right">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <ul class="nav nav-treeview" id="menuside">
                            <li class="nav-item">
                                <a href="/User/Orders" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>سفارشات</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/User/Messages" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>پیام ها</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/User/ChangeInfo" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>تغییر اطلاعات کاربری</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/User/Addresses" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>تغییر و مشاهده آدرس ها</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/User/ChangePass" class="nav-link active">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>تغییر پسورد حساب</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Logout" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>خروج از حساب</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    </div>
    <!-- /.sidebar -->
</aside>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <h1 class="m-0 text-dark">تغییر پسورد حساب</h1>
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <form class="content" method="post" asp-action="ChangePass" asp-area="User" asp-controller="Home">
        <input hidden value="@ViewBag.id" name="id"/>
        <div class="container-fluid">
            <div class="last-products">
                <div class="login-part col-8">
                    <label>رمز عبور فعلی</label>
                    <input type="password" id="pass-1" class="fadeIn first" name="currentpassword"
                           placeholder="مثال: 12345678">
                    <span class="warning" id="warning-pass" asp-validation-for="password"></span>
                </div>
                <div class="login-part col-8">
                    <label>رمز عبور جدید</label>
                    <input type="password" id="pass-2" class="fadeIn first" name="password"
                           placeholder="مثال: 12345678">
                    <span class="warning" id="warning-pass" asp-validation-for="password"></span>
                </div>
                <div class="login-part col-8">
                    <label>تکرار رمز عبور حدید</label>
                    <input type="password" id="pass-3" class="fadeIn first" name="repassword"
                           placeholder="مثال: 12345678">
                    <span class="warning" id="warning-pass" asp-validation-for="password"></span>
                </div>
                <input type="submit" class="fadeIn submit fourth col-5" value=تایید>
            </div>
        </div>
        <!--/. container-fluid -->
    </form>
    <!-- /.content -->
</div>

